# Import the Dataset

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rockyt07/jpmc-stock-detailed-data")

print("Path to dataset files:", path)

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/rockyt07/jpmc-stock-detailed-data?dataset_version_number=1...

100%|██████████| 77.2k/77.2k [00:00<00:00, 364kB/s]

Extracting files...
Path to dataset files: /Users/pierre/.cache/kagglehub/datasets/rockyt07/jpmc-stock-detailed-data/versions/1

# DataFrame Import and Read Basic Information

In [12]:
import pandas as pd
balance_df = pd.read_csv('../Dataset/JPM_balance_sheet.csv')
balance_df.head(5)

,Unnamed: 0,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
0,Treasury Shares Number,1.307313e+09,1.228275e+09,1.170676e+09,1.160785e+09,NaN
1,Preferred Shares Number,3.918500e+08,3.918500e+08,3.918500e+08,3.918500e+08,NaN
2,Ordinary Shares Number,2.797620e+09,2.876659e+09,2.934258e+09,2.944149e+09,NaN
3,Share Issued,4.104934e+09,4.104934e+09,4.104934e+09,4.104934e+09,NaN
4,Total Debt,4.543110e+11,4.365370e+11,3.398920e+11,3.545990e+11,NaN

Since the column 0 has an unnamed columns, rename it as metrics for easier reference.

In [21]:
balance_df = balance_df.rename(columns = {'Unnamed: 0':'Metrics'}) 
balance_df.columns

Index(['Metrics', '2024-12-31', '2023-12-31', '2022-12-31', '2021-12-31',
       '2020-12-31'],
      dtype='object')