# Pandas Learning Journey: JPMorgan Stock Data

## Dataset Download from Kaggle

In [31]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rockyt07/jpmc-stock-detailed-data")

print("Path to dataset files:", path)

Path to dataset files: /Users/pierre/.cache/kagglehub/datasets/rockyt07/jpmc-stock-detailed-data/versions/1

## DataFrame Import and Data Exploration

In [32]:
import pandas as pd
balance_df = pd.read_csv('../Dataset/JPM_balance_sheet.csv')
balance_df.head(5)

,Unnamed: 0,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
0,Treasury Shares Number,1.307313e+09,1.228275e+09,1.170676e+09,1.160785e+09,NaN
1,Preferred Shares Number,3.918500e+08,3.918500e+08,3.918500e+08,3.918500e+08,NaN
2,Ordinary Shares Number,2.797620e+09,2.876659e+09,2.934258e+09,2.944149e+09,NaN
3,Share Issued,4.104934e+09,4.104934e+09,4.104934e+09,4.104934e+09,NaN
4,Total Debt,4.543110e+11,4.365370e+11,3.398920e+11,3.545990e+11,NaN

In [33]:
cashflow_df = pd.read_csv('../Dataset/JPM_cashflow.csv')
cashflow_df.head(5)

,Unnamed: 0,2024-12-31,2023-12-31,2022-12-31,2021-12-31
0,Free Cash Flow,-4.201200e+10,1.297400e+10,1.071190e+11,7.808400e+10
1,Repurchase Of Capital Stock,-2.868000e+10,-9.824000e+09,-1.059600e+10,-2.098300e+10
2,Repayment Of Debt,-9.660500e+10,-6.488000e+10,-4.555600e+10,-5.493200e+10
3,Issuance Of Debt,1.099150e+11,7.541700e+10,7.844200e+10,8.240900e+10
4,Issuance Of Capital Stock,2.500000e+09,0.000000e+00,0.000000e+00,7.350000e+09

In [34]:
dividends_df = pd.read_csv('../Dataset/JPM_dividends.csv')
dividends_df.head(5)

                        Date  Dividends
0  1984-03-09 00:00:00-05:00   0.196667
1  1984-06-11 00:00:00-04:00   0.196667
2  1984-09-10 00:00:00-04:00   0.196667
3  1984-12-10 00:00:00-05:00   0.196667
4  1985-03-11 00:00:00-05:00   0.206667

### [balance_df] Column Renaming

Since the balance_df's column 0 has an unnamed columns, rename it as **Metrics** for easier reference. Also renamed the 'YYYY-MM-DD' format as YYYY only.

In [35]:
balance_df = balance_df.rename(columns = {'Unnamed: 0':'Metrics', '2024-12-31': '2024', '2023-12-31': '2023', '2022-12-31': '2022', '2021-12-31': '2021', '2020-12-31': '2020'}) 
balance_df.columns

Index(['Metrics', '2024', '2023', '2022', '2021', '2020'], dtype='object')

View the **Dataframe** again with revised names.

In [36]:
balance_df

,Metrics,2024,2023,2022,2021,2020
0,Treasury Shares Number,1.307313e+09,1.228275e+09,1.170676e+09,1.160785e+09,NaN
1,Preferred Shares Number,3.918500e+08,3.918500e+08,3.918500e+08,3.918500e+08,NaN
2,Ordinary Shares Number,2.797620e+09,2.876659e+09,2.934258e+09,2.944149e+09,NaN
3,Share Issued,4.104934e+09,4.104934e+09,4.104934e+09,4.104934e+09,NaN
4,Total Debt,4.543110e+11,4.365370e+11,3.398920e+11,3.545990e+11,NaN
5,Tangible Book Value,2.601480e+11,2.360930e+11,2.040690e+11,2.025980e+11,NaN
6,Invested Capital,7.790190e+11,7.370110e+11,6.048200e+11,6.138880e+11,NaN
7,Net Tangible Assets,2.801980e+11,2.634970e+11,2.314730e+11,2.374360e+11,NaN
8,Common Stock Equity,3.247080e+11,3.004740e+11,2.649280e+11,2.592890e+11,NaN
9,Preferred Stock Equity,2.005000e+10,2.740400e+10,2.740400e+10,3.483800e+10,NaN
10,Total Capitalization,7.345940e+11,7.197030e+11,5.881970e+11,5.951320e+11,NaN
11,Total Equity Gross Minority Interest,3.447580e+11,3.278780e+11,2.923320e+11,2.941270e+11,NaN
12,Stockholders Equity,3.447580e+11,3.278780e+11,2.923320e+11,2.941270e+11,NaN
13,Gains Losses Not Affecting Retained Earnings,-1.245600e+10,-1.044300e+10,-1.734100e+10,-8.400000e+07,NaN
14,Other Equity Adjustments,-1.245600e+10,-1.044300e+10,-1.734100e+10,-8.400000e+07,NaN
15,Treasury Stock,1.340180e+11,1.162170e+11,1.073360e+11,1.054150e+11,NaN
16,Retained Earnings,3.761660e+11,3.329010e+11,2.964560e+11,2.722680e+11,NaN
17,Additional Paid In Capital,9.091100e+10,9.012800e+10,8.904400e+10,8.841500e+10,NaN
18,Capital Stock,2.415500e+10,3.150900e+10,3.150900e+10,3.894300e+10,NaN
19,Common Stock,4.105000e+09,4.105000e+09,4.105000e+09,4.105000e+09,NaN
20,Preferred Stock,2.005000e+10,2.740400e+10,2.740400e+10,3.483800e+10,NaN
21,Total Liabilities Net Minority Interest,3.658056e+12,3.547515e+12,3.373411e+12,3.449440e+12,NaN
22,Long Term Debt And Capital Lease Obligation,3.898360e+11,3.918250e+11,2.958650e+11,3.010050e+11,NaN
23,Long Term Debt,3.898360e+11,3.918250e+11,2.958650e+11,3.010050e+11,NaN
24,Current Debt And Capital Lease Obligation,6.447500e+10,4.471200e+10,4.402700e+10,5.359400e+10,NaN
25,Current Debt,6.447500e+10,4.471200e+10,4.402700e+10,5.359400e+10,NaN
26,Other Current Borrowings,6.447500e+10,4.471200e+10,4.402700e+10,5.359400e+10,NaN
27,Commercial Paper,NaN,NaN,NaN,NaN,1.203100e+10
28,Payables And Accrued Expenses,3.059330e+11,3.179540e+11,3.399820e+11,3.030710e+11,NaN
29,Payables,3.059330e+11,3.179540e+11,3.399820e+11,3.030710e+11,NaN
30,Other Payable,1.527800e+11,1.559940e+11,1.512900e+11,1.338990e+11,NaN
31,Accounts Payable,1.531530e+11,1.619600e+11,1.886920e+11,1.691720e+11,NaN
32,Total Assets,4.002814e+12,3.875393e+12,3.665743e+12,3.743567e+12,NaN
33,Investments And Advances,1.172872e+12,9.739460e+11,9.821160e+11,9.848290e+11,NaN
34,Held To Maturity Securities,2.744680e+11,3.698480e+11,4.253050e+11,3.637070e+11,NaN
35,Available For Sale Securities,NaN,NaN,NaN,NaN,1.382700e+10
36,Trading Securities,5.017140e+11,4.116130e+11,3.601120e+11,3.308650e+11,NaN
37,Goodwill And Other Intangible Assets,6.456000e+10,6.438100e+10,6.085900e+10,5.669100e+10,NaN
38,Other Intangible Assets,1.199500e+10,1.174700e+10,9.197000e+09,6.376000e+09,NaN
39,Goodwill,5.256500e+10,5.263400e+10,5.166200e+10,5.031500e+10,NaN
40,Net PPE,3.222300e+10,3.015700e+10,2.773400e+10,2.707000e+10,NaN
41,Gross PPE,3.222300e+10,3.015700e+10,2.773400e+10,NaN,NaN
42,Other Properties,1.534900e+10,1.529500e+10,1.424800e+10,NaN,NaN
43,Properties,1.687400e+10,1.486200e+10,1.348600e+10,NaN,NaN
44,Receivables,1.012230e+11,1.073630e+11,1.251890e+11,1.025700e+11,NaN
45,Other Receivables,NaN,NaN,NaN,NaN,7.963000e+10
46,Accounts Receivable,1.012230e+11,1.073630e+11,1.251890e+11,1.025700e+11,NaN
47,Other Short Term Investments,3.966900e+11,1.924850e+11,1.966990e+11,2.902570e+11,NaN
48,Cash And Cash Equivalents,4.693170e+11,6.241510e+11,5.672340e+11,7.408340e+11,NaN
49,Cash Financial,2.337200e+10,2.906600e+10,2.769700e+10,2.643800e+10,NaN
50,Cash Cash Equivalents And Federal Funds Sold,7.643180e+11,9.003030e+11,8.828260e+11,1.002532e+12,NaN

### [balance_df] Data Cleaning

Since the 2020 data is mostly **NaN**, I'll drop the columns.

In [37]:
balance_df = balance_df.drop(columns=['2020'])

In [38]:
balance_df.columns

Index(['Metrics', '2024', '2023', '2022', '2021'], dtype='object')

Other NaN's are replaced with **zero**.

In [ ]:
balance_df = balance_df.fillna(0)