# Deped Exploratory Data Analysis

## Initial Data Analysis

Load the Python libraries.

In [2]:
import pandas as pd

Load the dataset.

In [18]:
df = pd.read_csv('../../../Learning Pandas/data/raw data/SY 2023-2024 School Level Data on Official Enrollment 13.csv', skiprows=4)

In [19]:
df.shape

(60167, 72)

In [20]:
df.columns

Index(['Region', 'Division', 'District', 'BEIS School ID', 'School Name',
       'Street Address', 'Province', 'Municipality', 'Legislative District',
       'Barangay', 'Sector', 'School Subclassification', 'School Type',
       'Modified COC', 'K Male', 'K Female', 'G1 Male', 'G1 Female', 'G2 Male',
       'G2 Female', 'G3 Male', 'G3 Female', 'G4 Male', 'G4 Female', 'G5 Male',
       'G5 Female', 'G6 Male', 'G6 Female', 'Elem NG Male', 'Elem NG Female',
       'G7 Male', 'G7 Female', 'G8 Male', 'G8 Female', 'G9 Male', 'G9 Female',
       'G10 Male', 'G10 Female', 'JHS NG Male', 'JHS NG Female',
       'G11 ACAD - ABM Male', 'G11 ACAD - ABM Female', 'G11 ACAD - HUMSS Male',
       'G11 ACAD - HUMSS Female', 'G11 ACAD STEM Male', 'G11 ACAD STEM Female',
       'G11 ACAD GAS Male', 'G11 ACAD GAS Female', 'G11 ACAD PBM Male',
       'G11 ACAD PBM Female', 'G11 TVL Male', 'G11 TVL Female',
       'G11 SPORTS Male', 'G11 SPORTS Female', 'G11 ARTS Male',
       'G11 ARTS Female', 'G12 ACAD - ABM Male', 'G12 ACAD - ABM Female',
       'G12 ACAD - HUMSS Male', 'G12 ACAD - HUMSS Female',
       'G12 ACAD STEM Male', 'G12 ACAD STEM Female', 'G12 ACAD GAS Male',
       'G12 ACAD GAS Female', 'G12 ACAD PBM Male', 'G12 ACAD PBM Female',
       'G12 TVL Male', 'G12 TVL Female', 'G12 SPORTS Male',
       'G12 SPORTS Female', 'G12 ARTS Male', 'G12 ARTS Female'],
      dtype='object')

In [21]:
df.head()

,Region,Division,District,BEIS School ID,School Name,Street Address,Province,Municipality,Legislative District,Barangay,...,G12 ACAD GAS Male,G12 ACAD GAS Female,G12 ACAD PBM Male,G12 ACAD PBM Female,G12 TVL Male,G12 TVL Female,G12 SPORTS Male,G12 SPORTS Female,G12 ARTS Male,G12 ARTS Female
0,Region I,Ilocos Norte,Bacarra I,100001,Apaleng-Libtong ES,"Brgy. 21, Libtong, Bacarra, Ilocos Norte",ILOCOS NORTE,BACARRA,1st District,LIBTONG,...,0,0,0,0,0,0,0,0,0,0
1,Region I,Ilocos Norte,Bacarra I,100002,Bacarra CES,Santa Rita,ILOCOS NORTE,BACARRA,1st District,SANTA RITA (POB.),...,0,0,0,0,0,0,0,0,0,0
2,Region I,Ilocos Norte,Bacarra I,100003,Buyon ES,NONE,ILOCOS NORTE,BACARRA,1st District,BUYON,...,0,0,0,0,0,0,0,0,0,0
3,Region I,Ilocos Norte,Bacarra I,100004,Ganagan Elementary School,"#37 Ganagan,Bacarra, Ilocos Norte",ILOCOS NORTE,BACARRA,1st District,GANAGAN,...,0,0,0,0,0,0,0,0,0,0
4,Region I,Ilocos Norte,Bacarra I,100005,Macupit ES,Macupit,ILOCOS NORTE,BACARRA,1st District,MACUPIT,...,0,0,0,0,0,0,0,0,0,0

Check for any duplicate data.

In [32]:
df.duplicated().sum()

np.int64(0)

Break df to Luzon, Visayas, and Mindanao

In [49]:
luzon_regions = ['Region I', 'Region II', 'Region III', 'Region IV-A', 'Region IV-B', 'Region V', 'CAR']
luzon_df = df[(df['Region'].isin(luzon_regions))]
len(luzon_df)

24057