# JPMorgan Balance Sheet Report
**Author: pvtzurbito** <br>
**Period: 2021 - 2024**

In [33]:
import pandas as pd
import matplotlib.pyplot as plt

## Data Import

In [34]:
raw_df = pd.read_csv('../../data/raw data/JPM_balance_sheet.csv')
raw_df.head()

,Unnamed: 0,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
0,Treasury Shares Number,1.307313e+09,1.228275e+09,1.170676e+09,1.160785e+09,NaN
1,Preferred Shares Number,3.918500e+08,3.918500e+08,3.918500e+08,3.918500e+08,NaN
2,Ordinary Shares Number,2.797620e+09,2.876659e+09,2.934258e+09,2.944149e+09,NaN
3,Share Issued,4.104934e+09,4.104934e+09,4.104934e+09,4.104934e+09,NaN
4,Total Debt,4.543110e+11,4.365370e+11,3.398920e+11,3.545990e+11,NaN

## Data Cleaning

In [35]:
filtered_df = raw_df.drop(columns ='2020-12-31')
filtered_df.head()

,Unnamed: 0,2024-12-31,2023-12-31,2022-12-31,2021-12-31
0,Treasury Shares Number,1.307313e+09,1.228275e+09,1.170676e+09,1.160785e+09
1,Preferred Shares Number,3.918500e+08,3.918500e+08,3.918500e+08,3.918500e+08
2,Ordinary Shares Number,2.797620e+09,2.876659e+09,2.934258e+09,2.944149e+09
3,Share Issued,4.104934e+09,4.104934e+09,4.104934e+09,4.104934e+09
4,Total Debt,4.543110e+11,4.365370e+11,3.398920e+11,3.545990e+11

## Data Transformation

In [ ]:
filtered_df_t = filtered_df.set_index('Unnamed: 0').T
filtered_df_t.rename_axis('Year', axis = 1, inplace=True)
filtered_df_t

Year,Treasury Shares Number,Preferred Shares Number,Ordinary Shares Number,Share Issued,Total Debt,Tangible Book Value,Invested Capital,Net Tangible Assets,Common Stock Equity,Preferred Stock Equity,...,Gross PPE,Other Properties,Properties,Receivables,Other Receivables,Accounts Receivable,Other Short Term Investments,Cash And Cash Equivalents,Cash Financial,Cash Cash Equivalents And Federal Funds Sold
2024-12-31,1.307313e+09,391850000.0,2.797620e+09,4.104934e+09,4.543110e+11,2.601480e+11,7.790190e+11,2.801980e+11,3.247080e+11,2.005000e+10,...,3.222300e+10,1.534900e+10,1.687400e+10,1.012230e+11,NaN,1.012230e+11,3.966900e+11,4.693170e+11,2.337200e+10,7.643180e+11
2023-12-31,1.228275e+09,391850000.0,2.876659e+09,4.104934e+09,4.365370e+11,2.360930e+11,7.370110e+11,2.634970e+11,3.004740e+11,2.740400e+10,...,3.015700e+10,1.529500e+10,1.486200e+10,1.073630e+11,NaN,1.073630e+11,1.924850e+11,6.241510e+11,2.906600e+10,9.003030e+11
2022-12-31,1.170676e+09,391850000.0,2.934258e+09,4.104934e+09,3.398920e+11,2.040690e+11,6.048200e+11,2.314730e+11,2.649280e+11,2.740400e+10,...,2.773400e+10,1.424800e+10,1.348600e+10,1.251890e+11,NaN,1.251890e+11,1.966990e+11,5.672340e+11,2.769700e+10,8.828260e+11
2021-12-31,1.160785e+09,391850000.0,2.944149e+09,4.104934e+09,3.545990e+11,2.025980e+11,6.138880e+11,2.374360e+11,2.592890e+11,3.483800e+10,...,NaN,NaN,NaN,1.025700e+11,NaN,1.025700e+11,2.902570e+11,7.408340e+11,2.643800e+10,1.002532e+12