# Pandas Learning Journey: JPMorgan Stock Data

## Dataset Download from Kaggle

In [64]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rockyt07/jpmc-stock-detailed-data")

print("Path to dataset files:", path)

Path to dataset files: /Users/pierre/.cache/kagglehub/datasets/rockyt07/jpmc-stock-detailed-data/versions/1

## DataFrame Import and Data Exploration

In [65]:
import pandas as pd
balance_df = pd.read_csv('../../../Dataset/JPM_balance_sheet.csv')
balance_df.head(5)

,Unnamed: 0,2024-12-31,2023-12-31,2022-12-31,2021-12-31,2020-12-31
0,Treasury Shares Number,"1,307,313,494.00","1,228,275,301.00","1,170,676,094.00","1,160,784,750.00",NaN
1,Preferred Shares Number,"391,850,000.00","391,850,000.00","391,850,000.00","391,850,000.00",NaN
2,Ordinary Shares Number,"2,797,620,401.00","2,876,658,594.00","2,934,257,801.00","2,944,149,145.00",NaN
3,Share Issued,"4,104,933,895.00","4,104,933,895.00","4,104,933,895.00","4,104,933,895.00",NaN
4,Total Debt,"454,311,000,000.00","436,537,000,000.00","339,892,000,000.00","354,599,000,000.00",NaN

In [66]:
cashflow_df = pd.read_csv('../../../Dataset/JPM_cashflow.csv')
cashflow_df.head(5)

,Unnamed: 0,2024-12-31,2023-12-31,2022-12-31,2021-12-31
0,Free Cash Flow,"-42,012,000,000.00","12,974,000,000.00","107,119,000,000.00","78,084,000,000.00"
1,Repurchase Of Capital Stock,"-28,680,000,000.00","-9,824,000,000.00","-10,596,000,000.00","-20,983,000,000.00"
2,Repayment Of Debt,"-96,605,000,000.00","-64,880,000,000.00","-45,556,000,000.00","-54,932,000,000.00"
3,Issuance Of Debt,"109,915,000,000.00","75,417,000,000.00","78,442,000,000.00","82,409,000,000.00"
4,Issuance Of Capital Stock,"2,500,000,000.00",0.00,0.00,"7,350,000,000.00"

In [67]:
dividends_df = pd.read_csv('../../../Dataset/JPM_dividends.csv')
dividends_df.head(5)

                        Date  Dividends
0  1984-03-09 00:00:00-05:00       0.20
1  1984-06-11 00:00:00-04:00       0.20
2  1984-09-10 00:00:00-04:00       0.20
3  1984-12-10 00:00:00-05:00       0.20
4  1985-03-11 00:00:00-05:00       0.21

### [balance_df] Column Renaming

Since the balance_df's column 0 has an unnamed columns, rename it as **Metrics** for easier reference. Also renamed the 'YYYY-MM-DD' format as YYYY only.

In [68]:
balance_df = balance_df.rename(columns = {'Unnamed: 0':'Metrics', '2024-12-31': '2024', '2023-12-31': '2023', '2022-12-31': '2022', '2021-12-31': '2021', '2020-12-31': '2020'}) 
balance_df.columns

Index(['Metrics', '2024', '2023', '2022', '2021', '2020'], dtype='object')

View the **Dataframe** again with revised names.

In [69]:
balance_df

,Metrics,2024,2023,2022,2021,2020
0,Treasury Shares Number,"1,307,313,494.00","1,228,275,301.00","1,170,676,094.00","1,160,784,750.00",NaN
1,Preferred Shares Number,"391,850,000.00","391,850,000.00","391,850,000.00","391,850,000.00",NaN
2,Ordinary Shares Number,"2,797,620,401.00","2,876,658,594.00","2,934,257,801.00","2,944,149,145.00",NaN
3,Share Issued,"4,104,933,895.00","4,104,933,895.00","4,104,933,895.00","4,104,933,895.00",NaN
4,Total Debt,"454,311,000,000.00","436,537,000,000.00","339,892,000,000.00","354,599,000,000.00",NaN
5,Tangible Book Value,"260,148,000,000.00","236,093,000,000.00","204,069,000,000.00","202,598,000,000.00",NaN
6,Invested Capital,"779,019,000,000.00","737,011,000,000.00","604,820,000,000.00","613,888,000,000.00",NaN
7,Net Tangible Assets,"280,198,000,000.00","263,497,000,000.00","231,473,000,000.00","237,436,000,000.00",NaN
8,Common Stock Equity,"324,708,000,000.00","300,474,000,000.00","264,928,000,000.00","259,289,000,000.00",NaN
9,Preferred Stock Equity,"20,050,000,000.00","27,404,000,000.00","27,404,000,000.00","34,838,000,000.00",NaN
10,Total Capitalization,"734,594,000,000.00","719,703,000,000.00","588,197,000,000.00","595,132,000,000.00",NaN
11,Total Equity Gross Minority Interest,"344,758,000,000.00","327,878,000,000.00","292,332,000,000.00","294,127,000,000.00",NaN
12,Stockholders Equity,"344,758,000,000.00","327,878,000,000.00","292,332,000,000.00","294,127,000,000.00",NaN
13,Gains Losses Not Affecting Retained Earnings,"-12,456,000,000.00","-10,443,000,000.00","-17,341,000,000.00","-84,000,000.00",NaN
14,Other Equity Adjustments,"-12,456,000,000.00","-10,443,000,000.00","-17,341,000,000.00","-84,000,000.00",NaN
15,Treasury Stock,"134,018,000,000.00","116,217,000,000.00","107,336,000,000.00","105,415,000,000.00",NaN
16,Retained Earnings,"376,166,000,000.00","332,901,000,000.00","296,456,000,000.00","272,268,000,000.00",NaN
17,Additional Paid In Capital,"90,911,000,000.00","90,128,000,000.00","89,044,000,000.00","88,415,000,000.00",NaN
18,Capital Stock,"24,155,000,000.00","31,509,000,000.00","31,509,000,000.00","38,943,000,000.00",NaN
19,Common Stock,"4,105,000,000.00","4,105,000,000.00","4,105,000,000.00","4,105,000,000.00",NaN
20,Preferred Stock,"20,050,000,000.00","27,404,000,000.00","27,404,000,000.00","34,838,000,000.00",NaN
21,Total Liabilities Net Minority Interest,"3,658,056,000,000.00","3,547,515,000,000.00","3,373,411,000,000.00","3,449,440,000,000.00",NaN
22,Long Term Debt And Capital Lease Obligation,"389,836,000,000.00","391,825,000,000.00","295,865,000,000.00","301,005,000,000.00",NaN
23,Long Term Debt,"389,836,000,000.00","391,825,000,000.00","295,865,000,000.00","301,005,000,000.00",NaN
24,Current Debt And Capital Lease Obligation,"64,475,000,000.00","44,712,000,000.00","44,027,000,000.00","53,594,000,000.00",NaN
25,Current Debt,"64,475,000,000.00","44,712,000,000.00","44,027,000,000.00","53,594,000,000.00",NaN
26,Other Current Borrowings,"64,475,000,000.00","44,712,000,000.00","44,027,000,000.00","53,594,000,000.00",NaN
27,Commercial Paper,NaN,NaN,NaN,NaN,"12,031,000,000.00"
28,Payables And Accrued Expenses,"305,933,000,000.00","317,954,000,000.00","339,982,000,000.00","303,071,000,000.00",NaN
29,Payables,"305,933,000,000.00","317,954,000,000.00","339,982,000,000.00","303,071,000,000.00",NaN
30,Other Payable,"152,780,000,000.00","155,994,000,000.00","151,290,000,000.00","133,899,000,000.00",NaN
31,Accounts Payable,"153,153,000,000.00","161,960,000,000.00","188,692,000,000.00","169,172,000,000.00",NaN
32,Total Assets,"4,002,814,000,000.00","3,875,393,000,000.00","3,665,743,000,000.00","3,743,567,000,000.00",NaN
33,Investments And Advances,"1,172,872,000,000.00","973,946,000,000.00","982,116,000,000.00","984,829,000,000.00",NaN
34,Held To Maturity Securities,"274,468,000,000.00","369,848,000,000.00","425,305,000,000.00","363,707,000,000.00",NaN
35,Available For Sale Securities,NaN,NaN,NaN,NaN,"13,827,000,000.00"
36,Trading Securities,"501,714,000,000.00","411,613,000,000.00","360,112,000,000.00","330,865,000,000.00",NaN
37,Goodwill And Other Intangible Assets,"64,560,000,000.00","64,381,000,000.00","60,859,000,000.00","56,691,000,000.00",NaN
38,Other Intangible Assets,"11,995,000,000.00","11,747,000,000.00","9,197,000,000.00","6,376,000,000.00",NaN
39,Goodwill,"52,565,000,000.00","52,634,000,000.00","51,662,000,000.00","50,315,000,000.00",NaN
40,Net PPE,"32,223,000,000.00","30,157,000,000.00","27,734,000,000.00","27,070,000,000.00",NaN
41,Gross PPE,"32,223,000,000.00","30,157,000,000.00","27,734,000,000.00",NaN,NaN
42,Other Properties,"15,349,000,000.00","15,295,000,000.00","14,248,000,000.00",NaN,NaN
43,Properties,"16,874,000,000.00","14,862,000,000.00","13,486,000,000.00",NaN,NaN
44,Receivables,"101,223,000,000.00","107,363,000,000.00","125,189,000,000.00","102,570,000,000.00",NaN
45,Other Receivables,NaN,NaN,NaN,NaN,"79,630,000,000.00"
46,Accounts Receivable,"101,223,000,000.00","107,363,000,000.00","125,189,000,000.00","102,570,000,000.00",NaN
47,Other Short Term Investments,"396,690,000,000.00","192,485,000,000.00","196,699,000,000.00","290,257,000,000.00",NaN
48,Cash And Cash Equivalents,"469,317,000,000.00","624,151,000,000.00","567,234,000,000.00","740,834,000,000.00",NaN
49,Cash Financial,"23,372,000,000.00","29,066,000,000.00","27,697,000,000.00","26,438,000,000.00",NaN
50,Cash Cash Equivalents And Federal Funds Sold,"764,318,000,000.00","900,303,000,000.00","882,826,000,000.00","1,002,532,000,000.00",NaN

### [balance_df] Data Cleaning

Show a grasp on the null values present on the dataset.

In [70]:
balance_df.isnull().sum()

Metrics     0
2024        3
2023        3
2022        3
2021        6
2020       48
dtype: int64

Since the 2020 data is mostly **NaN**, I'll drop the columns.

In [71]:
balance_df = balance_df.drop(columns=['2020'])

In [72]:
balance_df.columns

Index(['Metrics', '2024', '2023', '2022', '2021'], dtype='object')

Other NaN's are replaced with **zero**.

In [73]:
balance_df = balance_df.fillna(0)

Show the dataset after filling and dropping null values.

In [74]:
balance_df

,Metrics,2024,2023,2022,2021
0,Treasury Shares Number,"1,307,313,494.00","1,228,275,301.00","1,170,676,094.00","1,160,784,750.00"
1,Preferred Shares Number,"391,850,000.00","391,850,000.00","391,850,000.00","391,850,000.00"
2,Ordinary Shares Number,"2,797,620,401.00","2,876,658,594.00","2,934,257,801.00","2,944,149,145.00"
3,Share Issued,"4,104,933,895.00","4,104,933,895.00","4,104,933,895.00","4,104,933,895.00"
4,Total Debt,"454,311,000,000.00","436,537,000,000.00","339,892,000,000.00","354,599,000,000.00"
5,Tangible Book Value,"260,148,000,000.00","236,093,000,000.00","204,069,000,000.00","202,598,000,000.00"
6,Invested Capital,"779,019,000,000.00","737,011,000,000.00","604,820,000,000.00","613,888,000,000.00"
7,Net Tangible Assets,"280,198,000,000.00","263,497,000,000.00","231,473,000,000.00","237,436,000,000.00"
8,Common Stock Equity,"324,708,000,000.00","300,474,000,000.00","264,928,000,000.00","259,289,000,000.00"
9,Preferred Stock Equity,"20,050,000,000.00","27,404,000,000.00","27,404,000,000.00","34,838,000,000.00"
10,Total Capitalization,"734,594,000,000.00","719,703,000,000.00","588,197,000,000.00","595,132,000,000.00"
11,Total Equity Gross Minority Interest,"344,758,000,000.00","327,878,000,000.00","292,332,000,000.00","294,127,000,000.00"
12,Stockholders Equity,"344,758,000,000.00","327,878,000,000.00","292,332,000,000.00","294,127,000,000.00"
13,Gains Losses Not Affecting Retained Earnings,"-12,456,000,000.00","-10,443,000,000.00","-17,341,000,000.00","-84,000,000.00"
14,Other Equity Adjustments,"-12,456,000,000.00","-10,443,000,000.00","-17,341,000,000.00","-84,000,000.00"
15,Treasury Stock,"134,018,000,000.00","116,217,000,000.00","107,336,000,000.00","105,415,000,000.00"
16,Retained Earnings,"376,166,000,000.00","332,901,000,000.00","296,456,000,000.00","272,268,000,000.00"
17,Additional Paid In Capital,"90,911,000,000.00","90,128,000,000.00","89,044,000,000.00","88,415,000,000.00"
18,Capital Stock,"24,155,000,000.00","31,509,000,000.00","31,509,000,000.00","38,943,000,000.00"
19,Common Stock,"4,105,000,000.00","4,105,000,000.00","4,105,000,000.00","4,105,000,000.00"
20,Preferred Stock,"20,050,000,000.00","27,404,000,000.00","27,404,000,000.00","34,838,000,000.00"
21,Total Liabilities Net Minority Interest,"3,658,056,000,000.00","3,547,515,000,000.00","3,373,411,000,000.00","3,449,440,000,000.00"
22,Long Term Debt And Capital Lease Obligation,"389,836,000,000.00","391,825,000,000.00","295,865,000,000.00","301,005,000,000.00"
23,Long Term Debt,"389,836,000,000.00","391,825,000,000.00","295,865,000,000.00","301,005,000,000.00"
24,Current Debt And Capital Lease Obligation,"64,475,000,000.00","44,712,000,000.00","44,027,000,000.00","53,594,000,000.00"
25,Current Debt,"64,475,000,000.00","44,712,000,000.00","44,027,000,000.00","53,594,000,000.00"
26,Other Current Borrowings,"64,475,000,000.00","44,712,000,000.00","44,027,000,000.00","53,594,000,000.00"
27,Commercial Paper,0.00,0.00,0.00,0.00
28,Payables And Accrued Expenses,"305,933,000,000.00","317,954,000,000.00","339,982,000,000.00","303,071,000,000.00"
29,Payables,"305,933,000,000.00","317,954,000,000.00","339,982,000,000.00","303,071,000,000.00"
30,Other Payable,"152,780,000,000.00","155,994,000,000.00","151,290,000,000.00","133,899,000,000.00"
31,Accounts Payable,"153,153,000,000.00","161,960,000,000.00","188,692,000,000.00","169,172,000,000.00"
32,Total Assets,"4,002,814,000,000.00","3,875,393,000,000.00","3,665,743,000,000.00","3,743,567,000,000.00"
33,Investments And Advances,"1,172,872,000,000.00","973,946,000,000.00","982,116,000,000.00","984,829,000,000.00"
34,Held To Maturity Securities,"274,468,000,000.00","369,848,000,000.00","425,305,000,000.00","363,707,000,000.00"
35,Available For Sale Securities,0.00,0.00,0.00,0.00
36,Trading Securities,"501,714,000,000.00","411,613,000,000.00","360,112,000,000.00","330,865,000,000.00"
37,Goodwill And Other Intangible Assets,"64,560,000,000.00","64,381,000,000.00","60,859,000,000.00","56,691,000,000.00"
38,Other Intangible Assets,"11,995,000,000.00","11,747,000,000.00","9,197,000,000.00","6,376,000,000.00"
39,Goodwill,"52,565,000,000.00","52,634,000,000.00","51,662,000,000.00","50,315,000,000.00"
40,Net PPE,"32,223,000,000.00","30,157,000,000.00","27,734,000,000.00","27,070,000,000.00"
41,Gross PPE,"32,223,000,000.00","30,157,000,000.00","27,734,000,000.00",0.00
42,Other Properties,"15,349,000,000.00","15,295,000,000.00","14,248,000,000.00",0.00
43,Properties,"16,874,000,000.00","14,862,000,000.00","13,486,000,000.00",0.00
44,Receivables,"101,223,000,000.00","107,363,000,000.00","125,189,000,000.00","102,570,000,000.00"
45,Other Receivables,0.00,0.00,0.00,0.00
46,Accounts Receivable,"101,223,000,000.00","107,363,000,000.00","125,189,000,000.00","102,570,000,000.00"
47,Other Short Term Investments,"396,690,000,000.00","192,485,000,000.00","196,699,000,000.00","290,257,000,000.00"
48,Cash And Cash Equivalents,"469,317,000,000.00","624,151,000,000.00","567,234,000,000.00","740,834,000,000.00"
49,Cash Financial,"23,372,000,000.00","29,066,000,000.00","27,697,000,000.00","26,438,000,000.00"
50,Cash Cash Equivalents And Federal Funds Sold,"764,318,000,000.00","900,303,000,000.00","882,826,000,000.00","1,002,532,000,000.00"

Transposed the wide dataframe table to a long table format.

In [75]:
balance_t = balance_df.set_index('Metrics').T
balance_t

Metrics,Treasury Shares Number,Preferred Shares Number,Ordinary Shares Number,Share Issued,Total Debt,Tangible Book Value,Invested Capital,Net Tangible Assets,Common Stock Equity,Preferred Stock Equity,...,Gross PPE,Other Properties,Properties,Receivables,Other Receivables,Accounts Receivable,Other Short Term Investments,Cash And Cash Equivalents,Cash Financial,Cash Cash Equivalents And Federal Funds Sold
2024,"1,307,313,494.00","391,850,000.00","2,797,620,401.00","4,104,933,895.00","454,311,000,000.00","260,148,000,000.00","779,019,000,000.00","280,198,000,000.00","324,708,000,000.00","20,050,000,000.00",...,"32,223,000,000.00","15,349,000,000.00","16,874,000,000.00","101,223,000,000.00",0.00,"101,223,000,000.00","396,690,000,000.00","469,317,000,000.00","23,372,000,000.00","764,318,000,000.00"
2023,"1,228,275,301.00","391,850,000.00","2,876,658,594.00","4,104,933,895.00","436,537,000,000.00","236,093,000,000.00","737,011,000,000.00","263,497,000,000.00","300,474,000,000.00","27,404,000,000.00",...,"30,157,000,000.00","15,295,000,000.00","14,862,000,000.00","107,363,000,000.00",0.00,"107,363,000,000.00","192,485,000,000.00","624,151,000,000.00","29,066,000,000.00","900,303,000,000.00"
2022,"1,170,676,094.00","391,850,000.00","2,934,257,801.00","4,104,933,895.00","339,892,000,000.00","204,069,000,000.00","604,820,000,000.00","231,473,000,000.00","264,928,000,000.00","27,404,000,000.00",...,"27,734,000,000.00","14,248,000,000.00","13,486,000,000.00","125,189,000,000.00",0.00,"125,189,000,000.00","196,699,000,000.00","567,234,000,000.00","27,697,000,000.00","882,826,000,000.00"
2021,"1,160,784,750.00","391,850,000.00","2,944,149,145.00","4,104,933,895.00","354,599,000,000.00","202,598,000,000.00","613,888,000,000.00","237,436,000,000.00","259,289,000,000.00","34,838,000,000.00",...,0.00,0.00,0.00,"102,570,000,000.00",0.00,"102,570,000,000.00","290,257,000,000.00","740,834,000,000.00","26,438,000,000.00","1,002,532,000,000.00"

Since the metrics column shows years, rename the column as year. Since the metrics was used as an index, we can rename it by using the *rename_axis* function.

In [76]:
balance_t = balance_t.rename_axis('Year', axis = 1)
balance_t.columns

Index(['Treasury Shares Number', 'Preferred Shares Number',
       'Ordinary Shares Number', 'Share Issued', 'Total Debt',
       'Tangible Book Value', 'Invested Capital', 'Net Tangible Assets',
       'Common Stock Equity', 'Preferred Stock Equity', 'Total Capitalization',
       'Total Equity Gross Minority Interest', 'Stockholders Equity',
       'Gains Losses Not Affecting Retained Earnings',
       'Other Equity Adjustments', 'Treasury Stock', 'Retained Earnings',
       'Additional Paid In Capital', 'Capital Stock', 'Common Stock',
       'Preferred Stock', 'Total Liabilities Net Minority Interest',
       'Long Term Debt And Capital Lease Obligation', 'Long Term Debt',
       'Current Debt And Capital Lease Obligation', 'Current Debt',
       'Other Current Borrowings', 'Commercial Paper',
       'Payables And Accrued Expenses', 'Payables', 'Other Payable',
       'Accounts Payable', 'Total Assets', 'Investments And Advances',
       'Held To Maturity Securities', 'Available For Sale Securities',
       'Trading Securities', 'Goodwill And Other Intangible Assets',
       'Other Intangible Assets', 'Goodwill', 'Net PPE', 'Gross PPE',
       'Other Properties', 'Properties', 'Receivables', 'Other Receivables',
       'Accounts Receivable', 'Other Short Term Investments',
       'Cash And Cash Equivalents', 'Cash Financial',
       'Cash Cash Equivalents And Federal Funds Sold'],
      dtype='object', name='Year')

## [balance_df] Basic Data Analysis

Reviewing the columns of the new dataframe table.

In [77]:
balance_t.columns

Index(['Treasury Shares Number', 'Preferred Shares Number',
       'Ordinary Shares Number', 'Share Issued', 'Total Debt',
       'Tangible Book Value', 'Invested Capital', 'Net Tangible Assets',
       'Common Stock Equity', 'Preferred Stock Equity', 'Total Capitalization',
       'Total Equity Gross Minority Interest', 'Stockholders Equity',
       'Gains Losses Not Affecting Retained Earnings',
       'Other Equity Adjustments', 'Treasury Stock', 'Retained Earnings',
       'Additional Paid In Capital', 'Capital Stock', 'Common Stock',
       'Preferred Stock', 'Total Liabilities Net Minority Interest',
       'Long Term Debt And Capital Lease Obligation', 'Long Term Debt',
       'Current Debt And Capital Lease Obligation', 'Current Debt',
       'Other Current Borrowings', 'Commercial Paper',
       'Payables And Accrued Expenses', 'Payables', 'Other Payable',
       'Accounts Payable', 'Total Assets', 'Investments And Advances',
       'Held To Maturity Securities', 'Available For Sale Securities',
       'Trading Securities', 'Goodwill And Other Intangible Assets',
       'Other Intangible Assets', 'Goodwill', 'Net PPE', 'Gross PPE',
       'Other Properties', 'Properties', 'Receivables', 'Other Receivables',
       'Accounts Receivable', 'Other Short Term Investments',
       'Cash And Cash Equivalents', 'Cash Financial',
       'Cash Cash Equivalents And Federal Funds Sold'],
      dtype='object', name='Year')

### Finding the Debt to Asset Ratio
*Debt to asset ratio calculates how much a debt a company carries compared to the assets it currently owns.*

Finding the debt-to-asset ratio from 2021 to 2024.

In [78]:
pd.options.display.float_format = '{:,.2f}'.format
balance_t['Debt to Asset Ratio'] = (balance_t['Total Debt'] / balance_t['Total Assets']) *100
balance_t[['Total Debt', 'Total Assets', 'Debt to Asset Ratio']]

Year         Total Debt         Total Assets  Debt to Asset Ratio
2024 454,311,000,000.00 4,002,814,000,000.00                11.35
2023 436,537,000,000.00 3,875,393,000,000.00                11.26
2022 339,892,000,000.00 3,665,743,000,000.00                 9.27
2021 354,599,000,000.00 3,743,567,000,000.00                 9.47

Selecting the years where the debt to asset ratio is more than or equal to 10%.

In [79]:
high_debt = balance_t[(balance_t['Debt to Asset Ratio'] >=10)]
high_debt[['Debt to Asset Ratio']]

Year  Debt to Asset Ratio
2024                11.35
2023                11.26

### Finding the Equity Ratio
*Equity ratio compares the assets which are owned outright by the shareholders, as to being financed by debt.*

Finding the equity ratio:

In [80]:
balance_t['Equity Ratio'] = (balance_t['Stockholders Equity'] / balance_t['Total Assets']) * 100
balance_t[['Stockholders Equity', 'Total Assets', 'Equity Ratio']]

Year  Stockholders Equity         Total Assets  Equity Ratio
2024   344,758,000,000.00 4,002,814,000,000.00          8.61
2023   327,878,000,000.00 3,875,393,000,000.00          8.46
2022   292,332,000,000.00 3,665,743,000,000.00          7.97
2021   294,127,000,000.00 3,743,567,000,000.00          7.86

*Note: the debt ratio and the equity ratio should generally complement each other. For banks, it is generally considered standard to have an equity ratio of 5 to 10% due to their leverage.*

### Finding the Year-for-Year Growth

*Finding the year-over-year growth of JPMC's assets.*

In [81]:
balance_t = balance_t.sort_index(ascending = True)
balance_t['Asset Growth'] = (balance_t['Total Assets'].pct_change()) * 100
balance_t[['Total Assets', 'Debt to Asset Ratio', 'Equity Ratio', 'Asset Growth']]

Year         Total Assets  Debt to Asset Ratio  Equity Ratio  Asset Growth
2021 3,743,567,000,000.00                 9.47          7.86           NaN
2022 3,665,743,000,000.00                 9.27          7.97         -2.08
2023 3,875,393,000,000.00                11.26          8.46          5.72
2024 4,002,814,000,000.00                11.35          8.61          3.29

*Note: There is a negative asset growth in 2021-2022, which may mean that there maybe a sale on the assets that the bank currently holds during those years. However, they are on a positive value from 2022-2023 and 2023-2024 which has an increase on the assets that the bank holds.*

### Looking into the Bank's Liquidity

*This section will look into the bank's total cash and cash equivalents along with cash financials. As I am unsure of the Cash Cash Equivalents and Federal Funds Sold, I have subtracted the bank's financial cash, cash and cash equivalents (named <code>Total Cash</code>) to the <code>Cash Cash Equivalents and Federal Funds Sold</code> and called it as the <code>Buffer</code>.*

In [82]:
balance_t['Total Cash'] = balance_t['Cash Financial'] + balance_t['Cash And Cash Equivalents']
balance_t['Buffer'] = balance_t['Cash Cash Equivalents And Federal Funds Sold'] - balance_t['Total Cash']
balance_t[['Cash Financial', 'Cash And Cash Equivalents', 'Total Cash', 'Cash Cash Equivalents And Federal Funds Sold', 'Buffer']]

Year,Cash Financial,Cash And Cash Equivalents,Total Cash,Cash Cash Equivalents And Federal Funds Sold,Buffer
2021,"26,438,000,000.00","740,834,000,000.00","767,272,000,000.00","1,002,532,000,000.00","235,260,000,000.00"
2022,"27,697,000,000.00","567,234,000,000.00","594,931,000,000.00","882,826,000,000.00","287,895,000,000.00"
2023,"29,066,000,000.00","624,151,000,000.00","653,217,000,000.00","900,303,000,000.00","247,086,000,000.00"
2024,"23,372,000,000.00","469,317,000,000.00","492,689,000,000.00","764,318,000,000.00","271,629,000,000.00"

*As the Cash Cash Equivalents and Federal Funds Sold was the overall liquidity of the company, I renamed it as <code>Total Liquidity</code> and used it to find the Liquidity to Debt Ratio.*

In [83]:
balance_t['Total Liquidity'] = balance_t['Cash Cash Equivalents And Federal Funds Sold']
balance_t['Liquidity to Debt Ratio'] = (balance_t['Total Liquidity'] / balance_t['Total Debt'])
balance_t[['Total Liquidity', 'Total Debt', 'Liquidity to Debt Ratio']]

Year      Total Liquidity         Total Debt  Liquidity to Debt Ratio
2021 1,002,532,000,000.00 354,599,000,000.00                     2.83
2022   882,826,000,000.00 339,892,000,000.00                     2.60
2023   900,303,000,000.00 436,537,000,000.00                     2.06
2024   764,318,000,000.00 454,311,000,000.00                     1.68

### Generating a summary report

In [84]:
summary_report = balance_t[['Total Debt', 'Total Assets', 'Total Liquidity', 'Stockholders Equity', 'Debt to Asset Ratio', 'Equity Ratio', 'Asset Growth', 'Liquidity to Debt Ratio']]
summary_report.to_csv('../../processed data/Balance_Sheet_Summary_Report.csv')